<div class="flex items-center gap-1">
  <button
    ngToolbarWidget
    id="previousPage"
    value="previousPage"
    [disabled]="pageIndex() === 0"
    (click)="goToPage(-1)"
    (keydown.enter)="goToPage(-1)"
    (keydown.space)="goToPage(-1)"
    class="flex size-10 items-center justify-center rounded-sm not-aria-disabled:cursor-pointer hover:not-aria-disabled:bg-neutral-200 dark:hover:not-aria-disabled:bg-neutral-700"
    title="Go to previous page"
  >
    <ng-icon
      [svg]="ICONS.previous"
      size="1.5rem"
    />
  </button>

  <b class="flex size-10 items-center justify-center"> {{ pageIndex() + 1 }} </b>

  <button
    ngToolbarWidget
    id="nextPage"
    value="nextPage"
    [disabled]="pageIndex() === maxIndex() - 1"
    (click)="goToPage(1)"
    (keydown.enter)="goToPage(1)"
    (keydown.space)="goToPage(1)"
    class="flex size-10 items-center justify-center rounded-sm not-aria-disabled:cursor-pointer hover:not-aria-disabled:bg-neutral-200 dark:hover:not-aria-disabled:bg-neutral-700"
    title="Go to next page"
  >
    <ng-icon
      [svg]="ICONS.next"
      size="1.5rem"
    />
  </button>
</div>

<div
  role="separator"
  class="h-10 w-px bg-neutral-200 dark:bg-neutral-700"
></div>

<div>
  <button
    ngToolbarWidget
    ngMenuTrigger
    #pageOrigin
    #pageTrigger="ngMenuTrigger"
    [menu]="pageMenu()"
    value="pageSize"
    id="pageSize"
    class="cursor-pointer rounded-sm p-2 hover:bg-neutral-200 dark:hover:bg-neutral-700"
    title="Configure page size"
  >
    <b> {{ pageSize() }} </b>
    per page
  </button>

  <ng-template
    [cdkConnectedOverlayOpen]="pageTrigger.expanded()"
    [cdkConnectedOverlay]="{ origin: pageOrigin, usePopover: 'inline' }"
    [cdkConnectedOverlayPositions]="[
      {
        originX: 'start',
        originY: 'top',
        overlayX: 'start',
        overlayY: 'bottom',
        offsetY: -8,
        offsetX: -4,
      },
    ]"
    cdkAttachPopoverAsChild
  >
    <div
      ngMenu
      #pageMenu="ngMenu"
      class="flex flex-col rounded-md border border-neutral-200 bg-neutral-100 p-2 not-dark:shadow-md dark:border-neutral-700 dark:bg-neutral-800"
    >
      <ng-template ngMenuContent>
        @for (numItems of PAGE_SIZES; track numItems) {
          <button
            ngMenuItem
            [value]="numItems"
            [disabled]="pageSize() === numItems"
            (click)="setPageSize(numItems)"
            (keydown.enter)="setPageSize(numItems)"
            (keydown.space)="setPageSize(numItems)"
            class="cursor-pointer rounded-sm p-2 text-left hover:bg-neutral-200 dark:hover:bg-neutral-700"
            [title]="`Show ${numItems} people per page`"
          >
            <b> {{ numItems }} </b>
            per page
          </button>
        }
      </ng-template>
    </div>
  </ng-template>
</div>

<div
  role="separator"
  class="h-10 w-px bg-neutral-200 dark:bg-neutral-700"
></div>

<div class="flex items-center gap-1">
  <button
    ngToolbarWidget
    id="columnOrder"
    value="columnOrder"
    (click)="toggleColumnOrderSideSheet()"
    (keydown.enter)="toggleColumnOrderSideSheet()"
    (keydown.space)="toggleColumnOrderSideSheet()"
    title="Open column configuration menu"
    class="flex size-10 cursor-pointer items-center justify-center rounded-sm hover:bg-neutral-200 dark:hover:bg-neutral-700"
  >
    <ng-icon
      [svg]="ICONS.columns"
      size="1.5rem"
    />
  </button>
</div>
