<div class="flex gap-1 items-center">
  <button
    ngToolbarWidget
    id="previousPage"
    value="previousPage"
    [disabled]="pageIndex() === 0"
    (click)="goToPage(-1)"
    (keydown.enter)="goToPage(-1)"
    (keydown.space)="goToPage(-1)"
    class="hover:not-aria-disabled:bg-neutral-200 not-aria-disabled:cursor-pointer rounded-sm flex items-center justify-center size-10 dark:hover:not-aria-disabled:bg-neutral-700"
  >
    <ng-icon [svg]="ICONS.previous" size="1.5rem" />
  </button>

  <b class="flex items-center justify-center size-10">
    {{ pageIndex() + 1 }}
  </b>

  <button
    ngToolbarWidget
    id="nextPage"
    value="nextPage"
    [disabled]="pageIndex() === maxIndex() - 1"
    (click)="goToPage(1)"
    (keydown.enter)="goToPage(1)"
    (keydown.space)="goToPage(1)"
    class="hover:not-aria-disabled:bg-neutral-200 not-aria-disabled:cursor-pointer rounded-sm flex items-center justify-center size-10 dark:hover:not-aria-disabled:bg-neutral-700"
  >
    <ng-icon [svg]="ICONS.next" size="1.5rem" />
  </button>
</div>

<div role="separator" class="w-px h-10 bg-neutral-200 dark:bg-neutral-700"></div>

<div>
  <button
    ngToolbarWidget
    ngMenuTrigger
    #pageOrigin
    #pageTrigger="ngMenuTrigger"
    [menu]="pageMenu()"
    value="pageSize"
    id="pageSize"
    class="p-2 hover:bg-neutral-200 cursor-pointer rounded-sm dark:hover:bg-neutral-700"
  >
    <b>
      {{ pageSize() }}
    </b>
    per page
  </button>

  <ng-template
    [cdkConnectedOverlayOpen]="pageTrigger.expanded()"
    [cdkConnectedOverlay]="{ origin: pageOrigin, usePopover: 'inline' }"
    [cdkConnectedOverlayPositions]="[
      {
        originX: 'start',
        originY: 'top',
        overlayX: 'start',
        overlayY: 'bottom',
        offsetY: -8,
        offsetX: -4,
      },
    ]"
    cdkAttachPopoverAsChild
  >
    <div
      ngMenu
      #pageMenu="ngMenu"
      class="flex flex-col p-2 bg-neutral-100 border border-neutral-200 rounded-md not-dark:shadow-md dark:bg-neutral-800 dark:border-neutral-700"
    >
      <ng-template ngMenuContent>
        @for (numItems of PAGE_SIZES; track numItems) {
          <button
            ngMenuItem
            [value]="numItems"
            [disabled]="pageSize() === numItems"
            (click)="setPageSize(numItems)"
            (keydown.enter)="setPageSize(numItems)"
            (keydown.space)="setPageSize(numItems)"
            class="p-2 hover:bg-neutral-200 cursor-pointer rounded-sm text-left dark:hover:bg-neutral-700"
          >
            <b>
              {{ numItems }}
            </b>
            per page
          </button>
        }
      </ng-template>
    </div>
  </ng-template>
</div>

<div role="separator" class="w-px h-10 bg-neutral-200 dark:bg-neutral-700"></div>

<div class="flex gap-1 items-center">
  <button
    ngToolbarWidget
    id="columnOrder"
    value="columnOrder"
    (click)="toggleColumnOrderSideSheet()"
    (keydown.enter)="toggleColumnOrderSideSheet()"
    (keydown.space)="toggleColumnOrderSideSheet()"
    class="hover:bg-neutral-200 cursor-pointer rounded-sm flex items-center justify-center size-10 dark:hover:bg-neutral-700"
  >
    <ng-icon [svg]="ICONS.columns" size="1.5rem" />
  </button>
</div>
