@if (column(); as column) {
  @if (column.sortable) {
    @let columnTitle = `Click to sort by ${column.label}`;
    @let sortTitle = sortDirection() === 'asc' ? 'in descending order' : 'in ascending order';
    <button
      class="inline-flex cursor-pointer items-center gap-2"
      [title]="`${columnTitle} ${sortTitle}`"
      (click)="this.updateSortDirection()"
    >
      <ng-icon [svg]="column.icon" />

      <span>{{ column.label }}</span>

      <span class="flex size-4 items-center">
        @if (sortDirection(); as direction) {
          <ng-icon
            [svg]="ICONS.sortAsc"
            [class.rotate-180]="direction === 'desc'"
            class="transition-transform duration-100"
          />
        } @else {
          <ng-icon
            [svg]="ICONS.sort"
            class="opacity-0 transition-opacity duration-100 group-hover:opacity-100"
          />
        }
      </span>
    </button>
  } @else {
    <span class="inline-flex items-center gap-2">
      <ng-icon [svg]="column.icon" />

      <span>{{ column.label }}</span>
    </span>
  }

  @if (column.resizable) {
    <div
      cdkDrag
      cdkDragLockAxis="x"
      class="absolute top-0 -right-px z-10 h-full w-2 cursor-col-resize"
      (cdkDragStarted)="resizing(true)"
      (cdkDragEnded)="resizing(false)"
      (cdkDragMoved)="onResize($event)"
      (dblclick)="resetColumnWidth()"
    ></div>
  }
}
