table {
  --border-color: var(--color-neutral-200);
}

th,
td {
  padding: 0.5rem;
  text-align: left;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

th {
  border-bottom: 2px solid var(--border-color);
}

td {
  tr:not(:last-child) & {
    border-bottom: 1px solid var(--border-color);
  }
}
