<table
  cdk-table
  [dataSource]="dataSource"
  [trackBy]="trackById"
  [fixedLayout]="!resizing()"
  class="mb-16 w-full table-fixed"
>
  @for (column of TEXT_COLUMNS; track column) {
    <ng-container [cdkColumnDef]="column">
      <th
        cdk-header-cell
        *cdkHeaderCellDef
        [style.width.px]="columnWidths()[column] ?? columns()[column]?.defaultWidth"
      >
        <app-header-cell [key]="column" />
      </th>
      <td
        cdk-cell
        *cdkCellDef="let person"
      >
        {{ person[column] }}
      </td>
    </ng-container>
  }
  @for (column of DATE_COLUMNS; track column) {
    <ng-container [cdkColumnDef]="column">
      <th
        cdk-header-cell
        *cdkHeaderCellDef
        [style.width.px]="columnWidths()[column] ?? columns()[column]?.defaultWidth"
      >
        <app-header-cell [key]="column" />
      </th>
      <td
        cdk-cell
        *cdkCellDef="let person"
      >
        {{ person[column] | date }}
      </td>
    </ng-container>
  }

  <ng-container cdkColumnDef="country">
    <th
      cdk-header-cell
      *cdkHeaderCellDef
      [style.width.px]="columnWidths().country ?? columns().country?.defaultWidth"
    >
      <app-header-cell key="country" />
    </th>
    <td
      cdk-cell
      *cdkCellDef="let person"
    >
      {{ person.country | country }}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="avatarUrl">
    <th
      cdk-header-cell
      *cdkHeaderCellDef
      [style.width.px]="columnWidths().avatarUrl ?? columns().avatarUrl?.defaultWidth"
    >
      <app-header-cell key="avatarUrl" />
    </th>
    <td
      cdk-cell
      *cdkCellDef="let person"
    >
      <img
        [src]="person.avatarUrl"
        class="mx-auto rounded-full"
        alt="avatar"
        width="32"
        height="32"
      />
    </td>
  </ng-container>

  <tr
    cdk-header-row
    *cdkHeaderRowDef="visibleColumns; sticky: true"
  ></tr>
  <tr
    cdk-row
    *cdkRowDef="let person; columns: visibleColumns"
  ></tr>
</table>

<app-action-bar />

<app-side-sheet
  [(isOpen)]="showColumnOrderSideSheet"
  label="Column order"
  description="Drag and drop the columns to change their order"
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dignissimos delectus accusamus
    enim, dolore eaque voluptatum laudantium laboriosam velit quibusdam quam nisi vero reprehenderit
    nesciunt architecto voluptate facilis quidem sed.
  </p>
</app-side-sheet>
