<table cdk-table [dataSource]="dataSource" [trackBy]="trackById">
  @for (column of TEXT_COLUMNS; track column) {
    <ng-container [cdkColumnDef]="column">
      <th cdk-header-cell *cdkHeaderCellDef>
        <app-header-cell [key]="column" />
      </th>
      <td cdk-cell *cdkCellDef="let person">{{ person[column] }}</td>
    </ng-container>
  }

  @for (column of DATE_COLUMNS; track column) {
    <ng-container [cdkColumnDef]="column">
      <th cdk-header-cell *cdkHeaderCellDef>
        <app-header-cell [key]="column" />
      </th>
      <td cdk-cell *cdkCellDef="let person">{{ person[column] | date }}</td>
    </ng-container>
  }

  <ng-container cdkColumnDef="country">
    <th cdk-header-cell *cdkHeaderCellDef>
      <app-header-cell key="country" />
    </th>
    <td cdk-cell *cdkCellDef="let person">{{ person.country | country }}</td>
  </ng-container>

  <ng-container cdkColumnDef="avatarUrl">
    <th cdk-header-cell *cdkHeaderCellDef>
      <app-header-cell key="avatarUrl" />
    </th>
    <td cdk-cell *cdkCellDef="let person">
      <img [src]="person.avatarUrl" class="rounded-full" alt="avatar" width="32" height="32" />
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
  <tr cdk-row *cdkRowDef="let person; columns: columns"></tr>
</table>
