table {
  --border-color: var(--color-neutral-200);
  --sticky-border-color: var(--color-neutral-300);
  --background-color: var(--color-white);

  @media (prefers-color-scheme: dark) {
    --border-color: var(--color-neutral-800);
    --sticky-border-color: var(--color-neutral-700);
    --background-color: var(--color-neutral-950);
  }
}

th,
td {
  text-align: left;
  background-color: var(--background-color);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }

  &.cdk-table-sticky-border-elem-left {
    border-right: 2px solid var(--sticky-border-color);
  }
}

th {
  border-bottom: 2px solid var(--sticky-border-color);
}

td {
  padding: 0.5rem;

  tr:not(:last-child) & {
    border-bottom: 1px solid var(--border-color);
  }
}
